src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
    xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
    xmlns:json="http://www.mulesoft.org/schema/mule/json"
    xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/http
        http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/secure-property-placeholder
        http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd
        http://www.mulesoft.org/schema/mule/apikit
        http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/tls
        http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
        http://www.mulesoft.org/schema/mule/core
        http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/json
        http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
        http://www.mulesoft.org/schema/mule/api-platform-gw
        http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">

    <!-- - - - - - - - - - - - - - - - - - - GLOBAL CONFIG  - - - - - - - - - - - - - - - - - - -->

    <!-- Pass ${runtime.key} and ${environment} to JVM as runtime arguments -->
    <secure-property-placeholder:config name="global:SecurePropertyPlaceholder" key="${runtime.key}" location="aio-adal-${environment}.properties" doc:name="Secure Property Placeholder"/>

    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>

    <http:listener-config name="global:HttpsListener" protocol="HTTPS" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration">
        <tls:context>
            <tls:key-store path="aio-adal-keystore.jks" password="${keystore.pass}" keyPassword="${keystore.pass}"/>
        </tls:context>
    </http:listener-config>

    <spring:beans>
        <spring:bean id="AdalClientBean" name="global:AdalClientBean" class="com.pacificnational.adal.PublicClient" scope="singleton">
            <spring:property name="authority" value="${adal.authority}"/>
            <spring:property name="clientId" value="${adal.client.id}"/>
        </spring:bean>
    </spring:beans>

    <api-platform-gw:api apiName="${api.name}" id="${api.id}" version="${api.version}" flowRef="api-main" create="true" apikitRef="api-config" doc:name="API Autodiscovery"/>

    <!-- - - - - - - - - - - - - - - - - - - MULE FLOWS  - - - - - - - - - - - - - - - - - - -->

    <flow name="api-main">
        <http:listener config-ref="global:HttpsListener" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="api-console">
        <http:listener config-ref="global:HttpsListener" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>

    <flow name="post:/authenticate:api-config">

        <!-- Get username and password from HTTP Request -->
        <set-variable variableName="username" value="#[payload['username']]" doc:name="Get username"/>
        <set-variable variableName="password" value="#[payload['password']]" doc:name="Get password"/>

        <invoke object-ref="global:AdalClientBean" method="authenticateCredentials" doc:name="Invoke authenticateCredentials" methodArguments="#[flowVars.username],#[flowVars.password]"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>

    <!-- - - - - - - - - - - - - - - - - - - ERROR HANDLING  - - - - - - - - - - - - - - - - - - -->

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="401">
            <apikit:exception value="org.mule.module.apikit.exception.InvalidHeaderException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unauthorised Access&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="500">
            <apikit:exception value="org.mule.api.transformer.TransformerException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Server Error&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="500">
            <apikit:exception value="org.mule.module.db.internal.domain.connection.ConnectionCreationException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Server Error&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

        <apikit:mapping statusCode="500">
            <apikit:exception value="org.mule.api.MessagingException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Server Error&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>

    </apikit:mapping-exception-strategy>
</mule>
